1. Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.

In [200]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\91994\anaconda3\lib\site-packages (4.4.0)
Requirement already satisfied: trio~=0.17 in c:\users\91994\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\91994\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\91994\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: async-generator>=1.9 in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: attrs>=19.2.0 in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: sniffio in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\91994\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\91994\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\91994\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\91994\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\91994\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\91994\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\users\91994\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\91994\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [201]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [202]:
driver=webdriver.Chrome(r"C:\Users\91994\Desktop\FlipRobo_Technologies\chromedriver.exe")

In [203]:
driver.get("https://www.naukri.com/")

In [204]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [205]:
location=driver.find_element(By.XPATH,"/html/body/div/div[2]/div[3]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [206]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [207]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [208]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [209]:
location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [210]:
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [211]:
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [212]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [213]:
df=pd.DataFrame({'job_title':job_title,'job_location':job_location,'company_name':company_name,'experience_required':experience_required})
df

,job_title,job_location,company_name,experience_required
0,Senior Data Analyst,Bangalore/Bengaluru(Old Madras Road),KrazyBee,3-6 Yrs
1,Master Data Management Business Analyst,Bangalore/Bengaluru,Accenture,6-8 Yrs
2,Senior Data Analyst,Bangalore/Bengaluru,Optum,5-7 Yrs
3,Senior Data Analyst II,Bangalore/Bengaluru,Flipkart,3-6 Yrs
4,Data Analyst - Python/Artificial Intelligence,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",iMindYourBusiness,0-2 Yrs
5,Data Analyst,Bangalore/Bengaluru,Bright Money,0-2 Yrs
6,Data Analyst,Bangalore/Bengaluru,Bayer,2-5 Yrs
7,Leap COE Intern(Data Analyst),Bangalore/Bengaluru,Info Origin Inc.,0-1 Yrs
8,"Data Analyst - Data Science, 3 To 5 Years","Bangalore/Bengaluru, Mumbai (All Areas)",Rise Finconnect,2-6 Yrs
9,Senior BI & Data Analyst,"Bangalore/Bengaluru, Pune, Mumbai (All Areas)",Samaira HR Solutions,2-4 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [214]:
!pip install selenium
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

Requirement already satisfied: selenium in c:\users\91994\anaconda3\lib\site-packages (4.4.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\91994\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\91994\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio~=0.17 in c:\users\91994\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: sortedcontainers in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: idna in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: sniffio in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: pycparser in c:\users\91994\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\91994\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\91994\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\91994\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\91994\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\91994\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\users\91994\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\91994\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [215]:
driver=webdriver.Chrome(r"C:\Users\91994\Desktop\FlipRobo_Technologies\chromedriver.exe")

In [216]:
driver.get("https://www.naukri.com/")

In [217]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [218]:
Location=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
Location.send_keys('Bangalore')

In [219]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [220]:
Job_title=[]
Job_location=[]
Company_name=[]

In [221]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    Job_title.append(title)
    

location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    Job_location.append(location)
    

    
Company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in Company_tags[0:10]:
    Company=i.text
    Company_name.append(Company)

In [222]:
print(len(Job_title),len(Job_location),len(Company_name))

10 10 10

In [223]:
df=pd.DataFrame({'Job_title':Job_title,'Job_location':Job_location,'Company_name':Company_name})
df

,Job_title,Job_location,Company_name
0,Tcs Hiring For Data Scientist,"Bangalore/Bengaluru, Chennai, Mumbai (All Areas)",TATA CONSULTANCY SERVICES (TCS)
1,Senior Manager - EmTech - Machine Learning - P&T,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",PwC
2,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech
3,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
4,Data scientist _Tata Consultancy Services(Tcs),"Bangalore/Bengaluru, Kochi/Cochin, Indore, New...",TATA CONSULTANCY SERVICES (TCS)
5,Job||Job Opening For AI Technologist - Data Sc...,"Bangalore/Bengaluru, New Delhi, Hyderabad/Secu...",Wipro
6,Hiring For DATA Scientist @ NTT DATA Business ...,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",NTT DATA Business Solutions Private Limited
7,Urgent Job Opening For AI Practitioner - Data ...,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ...",Wipro
8,Data Scientist,Bangalore/Bengaluru,Concentrix
9,Data Scientist - Full Stack,"Bangalore/Bengaluru, Hyderabad/Secunderabad",Salesforce

Q3. Python program to scrape data from naukri.com using the location and salary filter, for “Data Scientist” designation for first 10 job results, to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [224]:
!pip install selenium


import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

Requirement already satisfied: selenium in c:\users\91994\anaconda3\lib\site-packages (4.4.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\91994\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\91994\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio~=0.17 in c:\users\91994\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: idna in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: outcome in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: sortedcontainers in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\91994\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\91994\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\91994\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\91994\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\91994\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\91994\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\users\91994\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\91994\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [225]:
driver=webdriver.Chrome(r"C:\Users\91994\Desktop\FlipRobo_Technologies\chromedriver.exe")

In [226]:
driver.get("https://www.naukri.com/")

In [227]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [228]:
Location=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
Location.send_keys('Delhi/NCR')

In [229]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [230]:
Salary=driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]")
Salary.click()

In [231]:
Job_title=[]
Job_location=[]
Company_name=[]
Experience_required=[]

In [232]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    Job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    Job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    Company_name.append(company)
    
Experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in Experience_tags[0:10]:
    Experience=i.text
    Experience_required.append(Experience)

In [233]:
print(len(Job_title),len(Job_location),len(Company_name),len(Experience_required))

10 10 10 10

In [234]:
df=pd.DataFrame({'Job_title':Job_title,'Job_location':Job_location,'Company_name':Company_name,'Experience_required':Experience_required})
df

,Job_title,Job_location,Company_name,Experience_required
0,Job||Job Opening For AI Technologist - Data Sc...,"New Delhi, Hyderabad/Secunderabad, Pune, Chenn...",Wipro,5-10 Yrs
1,Data Scientist - Noida/Bangalore,"Noida, Bangalore/Bengaluru",EXL,5-10 Yrs
2,Data Scientist - Risk Platform,Bangalore/Bengaluru,Gojek,5-11 Yrs
3,Data Scientist,Bangalore/Bengaluru,Infosys,2-7 Yrs
4,Data Scientist,Bangalore/Bengaluru,Applied Materials,2-4 Yrs
5,Data Scientist,Bangalore/Bengaluru,Applied Materials,4-7 Yrs
6,Data Scientist,Bangalore/Bengaluru,Applied Materials,2-4 Yrs
7,Decision Scientist,Bangalore/Bengaluru,Gojek,4-9 Yrs
8,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
9,I O Engineering Analyst,Chennai,Optum,2-7 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

In [235]:
!pip install selenium


import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

Requirement already satisfied: selenium in c:\users\91994\anaconda3\lib\site-packages (4.4.0)
Requirement already satisfied: trio~=0.17 in c:\users\91994\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\91994\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\91994\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: idna in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: sniffio in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: attrs>=19.2.0 in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: outcome in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: pycparser in c:\users\91994\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\91994\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\91994\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\91994\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\91994\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\91994\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\users\91994\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\91994\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [236]:
driver=webdriver.Chrome(r"C:\Users\91994\Desktop\FlipRobo_Technologies\chromedriver.exe")

In [237]:
driver.get("https://www.flipkart.com/")

In [238]:
Product_tab=driver.find_element(By.CLASS_NAME,"_3704LK")
Product_tab.send_keys('Sun Glasses')

In [240]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [241]:
Product_name=[]
Product_description=[]
Product_price=[]

In [244]:
start=0
end=3
for page in range (start,end):
    names=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    for i in names:
        names=i.text
        Product_name.append(names)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]//span')
    next_button.click()
    time.sleep(3)
    
    
start=0
end=3
for page in range (start,end):
    description=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in description:
        description=i.text
        Product_description.append(description)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]//span')
    next_button.click()
    time.sleep(3)
    
    
start=0
end=3
for page in range (start,end):
    price=driver.find_elements(By.XPATH,'//a[@class="_3bPFwb"]')
    for i in price:
        price=i.text
        Product_price.append(price)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]//span')
    next_button.click()
    time.sleep(3)

In [245]:
print(len(Product_name),len(Product_description),len(Product_price))

120 120 120

In [249]:
df=pd.DataFrame({'Name':Product_name,'Description':Product_description,'Price':Product_price})
df1=df.iloc[0:101,:]
df1

,Name,Description,Price
0,Singco India,"Gradient, UV Protection Aviator Sunglasses (57)",₹236₹69966% off\nFree delivery
1,Rich Club,Riding Glasses Wrap-around Sunglasses (Free Size),₹345₹99965% off\nFree delivery
2,Fastrack,"UV Protection, Gradient Butterfly, Retro Squar...",₹359₹79955% off
3,Elligator,UV Protection Retro Square Sunglasses (Free Size),"₹298₹2,49588% off"
4,NuVew,UV Protection Aviator Sunglasses (58),₹198₹75073% off\nFree delivery
...,...,...,...
96,DAHAAZIL,UV Protection Aviator Sunglasses (57),₹204₹99979% off\nFree delivery
97,ROZZETTA CRAFT,Polarized Round Sunglasses (44),"₹499₹2,22577% off\nFree delivery"
98,Mi,"UV Protection, Polarized, Mirrored Retro Squar...","₹799₹1,19933% off\nFree delivery"
99,john jacobs,Polarized Rectangular Sunglasses (Free Size),"₹2,375₹6,00060% off\nFree delivery"
100,Fastrack,UV Protection Rectangular Sunglasses (Free Size),"₹1,039₹1,29920% off\nFree delivery"

Q5. Scrape 100 reviews data from flipkart.com for iphone11 phone. Scrape a. rating b. review summary c.full review

In [159]:
!pip install selenium


import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

Requirement already satisfied: selenium in c:\users\91994\anaconda3\lib\site-packages (4.4.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\91994\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\91994\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\91994\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: idna in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: sniffio in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: outcome in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: pycparser in c:\users\91994\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\91994\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\91994\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\91994\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\91994\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\91994\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\users\91994\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\91994\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [250]:
driver=webdriver.Chrome(r"C:\Users\91994\Desktop\FlipRobo_Technologies\chromedriver.exe")

In [251]:
driver.get("https://www.flipkart.com/")

In [252]:
Product_tab=driver.find_element(By.CLASS_NAME,"_3704LK")
Product_tab.send_keys('iphone 11')

In [253]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [255]:
iphone11=driver.find_element(By.CLASS_NAME,"_4rR01T")
iphone11.click()

In [258]:
Ratings_list=[]
Review_summary=[]
Full_review=[]

In [259]:
start=0
end=10
for page in range (start,end):
    ratings=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in ratings:
        ratings=i.text
        Ratings_list.append(ratings)
    button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]//span')
    button.click()
    time.sleep(3)
    
start=0
end=10
for page in range (start,end):
    summary=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in summary:
        summary=i.text
        Review_summary.append(summary)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]//span')
    next_button.click()
    time.sleep(3)
    
start=0
end=10
for page in range (start,end):
    review=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy")')
    for i in review:
        review=i.text
        Full_review.append(review)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]//span')
    next_button.click()
    time.sleep(3)

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//a[@class="_1LKTO3"]//span"}
  (Session info: chrome=104.0.5112.81)
Stacktrace:
Backtrace:
	Ordinal0 [0x003678B3+2193587]
	Ordinal0 [0x00300681+1771137]
	Ordinal0 [0x002141A8+803240]
	Ordinal0 [0x002424A0+992416]
	Ordinal0 [0x0024273B+993083]
	Ordinal0 [0x0026F7C2+1177538]
	Ordinal0 [0x0025D7F4+1103860]
	Ordinal0 [0x0026DAE2+1170146]
	Ordinal0 [0x0025D5C6+1103302]
	Ordinal0 [0x002377E0+948192]
	Ordinal0 [0x002386E6+952038]
	GetHandleVerifier [0x00610CB2+2738370]
	GetHandleVerifier [0x006021B8+2678216]
	GetHandleVerifier [0x003F17AA+512954]
	GetHandleVerifier [0x003F0856+509030]
	Ordinal0 [0x0030743B+1799227]
	Ordinal0 [0x0030BB68+1817448]
	Ordinal0 [0x0030BC55+1817685]
	Ordinal0 [0x00315230+1856048]
	BaseThreadInitThunk [0x76F2FA29+25]
	RtlGetAppContainerNamedObjectPath [0x77DA7A9E+286]
	RtlGetAppContainerNamedObjectPath [0x77DA7A6E+238]

In [198]:
df=pd.DataFrame({'Ratings_list':Ratings_list,'Review_summary':Review_summary,'Full_review':Full_review})
df

ValueError: All arrays must be of the same length

In [260]:
driver.quit()

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field. Scrape Brand, Price and Product description.

In [68]:
!pip install selenium


import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

Requirement already satisfied: selenium in c:\users\91994\anaconda3\lib\site-packages (4.4.0)
Requirement already satisfied: trio~=0.17 in c:\users\91994\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\91994\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\91994\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: sortedcontainers in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: idna in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: attrs>=19.2.0 in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: pycparser in c:\users\91994\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\91994\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\91994\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\91994\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\91994\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\91994\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\users\91994\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\91994\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [75]:
driver=webdriver.Chrome(r"C:\Users\91994\Desktop\FlipRobo_Technologies\chromedriver.exe")

In [76]:
driver.get("https://www.flipkart.com/")

In [77]:
Product_tab=driver.find_element(By.CLASS_NAME,"_3704LK")
Product_tab.send_keys('sneakers')

In [78]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [100]:
Product_name=[]
Product_description=[]
Product_price=[]
Discount_Per=[]

In [101]:
start=0
end=3
for page in range (start,end):
    names=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in names:
        names=i.text
        Product_name.append(names)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)
    
    
start=0
end=3
for page in range (start,end):
    description=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in description:
        description=i.text
        Product_description.append(description)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)
    
    
start=0
end=3
for page in range (start,end):
    price=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price:
        price=i.text
        Product_price.append(price)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)
    
    
start=0
end=3
for page in range (start,end):
    Offer=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in Offer:
        Offer=i.text
        Discount_Per.append(Offer)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [102]:
print(len(Product_name),len(Product_description),len(Product_price),len(Discount_Per))

120 107 120 116

In [108]:
df=pd.DataFrame({'Product_name': pd.Series(Product_name), 'Product_description': pd.Series(Product_description),'Product_price':pd.Series(Product_price),'Discount_Per':pd.Series(Discount_Per)})
df

,Product_name,Product_description,Product_price,Discount_Per
0,Robbie jones,Sneakers For Men,₹529,62% off
1,RINDAS,supr Sneakers For Men,₹298,45% off
2,SCATCHITE,Super Stylish & Trendy Combo Pack of 02 Pairs ...,₹351,77% off
3,ROCKFIELD,Mesh | Ultralightweight | Comfortable | Breath...,₹679,71% off
4,Magnolia,Sneakers For Women,₹332,81% off
...,...,...,...,...
115,Kzaara,NaN,"₹2,799",47% off
116,BIRDE,NaN,₹259,NaN
117,BRUTON,NaN,₹359,NaN
118,KWIK FIT,NaN,₹375,NaN
119,URBANBOX,NaN,₹499,NaN

In [111]:
New_df=df.iloc[0:101,:]
New_df

,Product_name,Product_description,Product_price,Discount_Per
0,Robbie jones,Sneakers For Men,₹529,62% off
1,RINDAS,supr Sneakers For Men,₹298,45% off
2,SCATCHITE,Super Stylish & Trendy Combo Pack of 02 Pairs ...,₹351,77% off
3,ROCKFIELD,Mesh | Ultralightweight | Comfortable | Breath...,₹679,71% off
4,Magnolia,Sneakers For Women,₹332,81% off
...,...,...,...,...
96,ONECENTRE,Men Casual Shoe New Trend With Fashion Panda D...,₹299,55% off
97,Roadster,Sneakers For Women,₹959,62% off
98,RED TAPE,Casual Sneakers Shoes For Men Sneakers For Men,"₹1,299",75% off
99,FAUSTO,Sneakers For Women,"₹1,908",40% off
100,HIGHLANDER,Men White Sneakers Sneakers For Men,₹796,47% off

Q7. Go to the link - https://www.myntra.com/shoes
Set second Price filter and Color filter to “Black”, as shown in the below image. Scrape Brand, Description and price

In [10]:
!pip install selenium


import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

Requirement already satisfied: selenium in c:\users\91994\anaconda3\lib\site-packages (4.4.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\91994\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\91994\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\91994\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: idna in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: outcome in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: sniffio in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: pycparser in c:\users\91994\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\91994\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\91994\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\91994\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\91994\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\91994\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\users\91994\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\91994\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [11]:
driver=webdriver.Chrome(r"C:\Users\91994\Desktop\FlipRobo_Technologies\chromedriver.exe")

In [12]:
driver.get("https://www.myntra.com/shoes")

In [17]:
Price_range=driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label")
Price_range.click()

In [14]:
Color=driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label")
Color.click()

In [18]:
Product_Brand=[]
Product_Price=[]
Product_Description=[]

In [19]:
start=0
end=2
for page in range (start,end):
    brand=driver.find_elements(By.XPATH,'//h3[@class="product-brand"]')
    for i in brand:
        brand=i.text
        Product_Brand.append(brand)
    next_button=driver.find_element(By.XPATH,'//li[@class="pagination-next"]')
    next_button.click()
    time.sleep(3)
    
    
start=0
end=2
for page in range (start,end):
    description=driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
    for i in description:
        description=i.text
        Product_Description.append(description)
    next_button=driver.find_element(By.XPATH,'//li[@class="pagination-next"]')
    next_button.click()
    time.sleep(3)
    
    
start=0
end=2
for page in range (start,end):
    price=driver.find_elements(By.XPATH,'//div[@class="product-price"]')
    for i in price:
        price=i.text
        Product_Price.append(price)
    next_button=driver.find_element(By.XPATH,'//li[@class="pagination-next"]')
    next_button.click()
    time.sleep(3)

In [20]:
print(len(Product_Brand),len(Product_Description),len(Product_Price))

100 100 100

In [21]:
df=pd.DataFrame({'Brand':Product_Brand,'Description':Product_Description,'Price':Product_Price})
df

,Brand,Description,Price
0,Skechers,Men Slip-On Sneakers,Rs. 8075Rs. 9500(15% OFF)
1,Nike,,Rs. 11990
2,Nike,Cabo WP Riding Boots,Rs. 7565Rs. 8900(15% OFF)
3,Nike,Women Leather Heeled Mules,Rs. 11305Rs. 11900(5% OFF)
4,ADIDAS Originals,Leather Block Sandals,Rs. 8999
...,...,...,...
95,UNDER ARMOUR,Men Solid Leather Formal Derbys,Rs. 8396Rs. 10495(20% OFF)
96,ADIDAS,Men Trekking Shoes,Rs. 8005Rs. 8895(10% OFF)
97,ADIDAS,Men PU Sneakers,Rs. 7999Rs. 9999(20% OFF)
98,Puma,High-Top Block Heeled Boots,Rs. 10999
99,J.FONTINI,Unisex Running Shoes,Rs. 6749Rs. 8999(25% OFF)

Q8. Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and scrape Title, Ratings and Price of 10 laptops

In [22]:
!pip install selenium


import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

Requirement already satisfied: selenium in c:\users\91994\anaconda3\lib\site-packages (4.4.0)
Requirement already satisfied: trio~=0.17 in c:\users\91994\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\91994\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\91994\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: attrs>=19.2.0 in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: idna in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: async-generator>=1.9 in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: pycparser in c:\users\91994\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\91994\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\91994\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\91994\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\91994\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\91994\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\users\91994\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\91994\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [31]:
driver=webdriver.Chrome(r"C:\Users\91994\Desktop\FlipRobo_Technologies\chromedriver.exe")

In [32]:
driver.get("https://www.amazon.in/")

In [33]:
Product_tab=driver.find_element(By.ID,"twotabsearchtextbox").send_keys('Laptop')

In [34]:
search=driver.find_element(By.ID,"nav-search-submit-text")
search.click()

In [37]:
CPU=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[11]/span/a/div")
CPU.click()

In [130]:
Name_List=[]
Price_List=[]
Rating_List=[]

In [131]:
Name=driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
for i in Name[0:10]:
    Name=i.text
    Name_List.append(Name)
    
Price=driver.find_elements(By.XPATH,'//span[@class="a-price"]')
for i in Price[0:10]:
    Price=i.text
    Price_List.append(Price)
    
Rating=driver.find_elements(By.XPATH,'//a[@class="a-link-normal s-underline-text s-underline-link-text s-link-style"]')
for i in Rating[0:10]:
    Rating=i.text
    Rating_List.append(Rating)

In [132]:
print(len(Name_List),len(Price_List),len(Rating_List))

10 10 10

In [133]:
df=pd.DataFrame({'Name':Name_List,'Price':Price_List,'Rating':Rating_List})
df

                                                Name      Price Rating
0  Lenovo Ideapad Gaming 3 Intel Core i7 10th Gen...    ₹59,990     22
1  Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...    ₹81,990      1
2  Hp Pavilion X360 11Th Gen Intel Core I7 14 Inc...    ₹82,400     22
3  Samsung Galaxy Book2 Intel 12th Gen core i7 39...    ₹79,490     26
4  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...    ₹89,990     17
5  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...    ₹54,845     22
6  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...    ₹87,990     15
7  ASUS TUF Gaming F15 (2022), 15.6-inch (39.62 c...  ₹1,07,990     23
8  Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD ...    ₹84,990     68
9  Lenovo Yoga 7 Intel Evo Core i7 12th Gen 14"(3...  ₹1,09,990      3

Q9. python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.

In [1]:
!pip install selenium


import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

Requirement already satisfied: selenium in c:\users\91994\anaconda3\lib\site-packages (4.4.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\91994\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\91994\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\91994\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: sniffio in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: sortedcontainers in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: attrs>=19.2.0 in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\91994\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\91994\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\91994\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\91994\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\91994\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\91994\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\users\91994\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\91994\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
driver=webdriver.Chrome(r"C:\Users\91994\Desktop\FlipRobo_Technologies\chromedriver.exe")

In [3]:
driver.get("https://www.ambitionbox.com/")

In [4]:
Jobs=driver.find_element(By.CLASS_NAME,"navItemLink")
Jobs.click()

In [5]:
Designation=driver.find_element(By.XPATH,'//input[@title="Enter Designation, Company or a Skill"]')
Designation.send_keys('Data Scientist')

In [6]:
search=driver.find_element(By.CLASS_NAME,"ctas-btn-medium")
search.click()

In [8]:
Locationdrop=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/p")
Locationdrop.click()

In [11]:
Location=driver.find_element(By.XPATH,'//input[@placeholder="Search locations"]')
Location.send_keys('Noida')

In [14]:
searchicon=driver.find_element(By.XPATH,'//label[@for="location_Noida"]')
searchicon.click()

In [61]:
Company_name=[]
Company_Rating=[]
Updated_ago=[]

In [62]:
company=driver.find_elements(By.XPATH,'//p[@class="company body-medium"]')
for i in company[0:10]:
    company=i.text
    Company_name.append(company)
    
Rating=driver.find_elements(By.XPATH,'//span[@class="body-small"]')
for i in Rating[0:10]:
    Rating=i.text
    Company_Rating.append(Rating)
    
Updated=driver.find_elements(By.XPATH,'//span[@class="body-small-l"]')
for i in Updated[0:20]:
    Updated=i.text
    Updated_ago.append(Updated)

In [63]:
Updated_ago.sort()
del Updated_ago[10:]

In [64]:
print(len(Company_name),len(Company_Rating),len(Updated_ago))

10 10 10

In [65]:
df=pd.DataFrame({'Company':Company_name,'Rating':Company_Rating,'Updated_ago':Updated_ago})
df

                                          Company Rating Updated_ago
0                         CBRE South Asia Pvt Ltd    4.3     12d ago
1        Ericsson India Global Services Pvt. Ltd.    4.3     12d ago
2                   GENPACT India Private Limited    4.0     13d ago
3  Optum Global Solutions (India) Private Limited    4.1     14d ago
4  Optum Global Solutions (India) Private Limited    4.1     15d ago
5        Ericsson India Global Services Pvt. Ltd.    4.3     24d ago
6                      SOPRA STERIA INDIA LIMITED    4.2     25d ago
7                EXL Services.com ( I ) Pvt. Ltd.    3.9     29d ago
8                                              EY    3.8      5d ago
9                   CARE HEALTH INSURANCE LIMITED    4.0      8d ago

In [66]:
driver.quit()

Q10. python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary from https://www.ambitionbox.com/

In [67]:
!pip install selenium


import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

Requirement already satisfied: selenium in c:\users\91994\anaconda3\lib\site-packages (4.4.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\91994\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\91994\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\91994\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: sniffio in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: async-generator>=1.9 in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\91994\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\91994\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\91994\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\91994\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\91994\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\91994\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\91994\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\users\91994\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\91994\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [68]:
driver=webdriver.Chrome(r"C:\Users\91994\Desktop\FlipRobo_Technologies\chromedriver.exe")

In [69]:
driver.get("https://www.ambitionbox.com/")

In [91]:
Salary_tag=driver.find_element(By.XPATH,'//*[@id="headerWrapper"]/nav[2]/div/ul/li[3]/a').click()
Salary=driver.find_element(By.XPATH,'//a[@href="/salaries?campaign=desktop_nav"]')
Salary.click()

In [121]:
search_box=driver.find_element(By.XPATH,'//input[@type="searchbox"]')
search_box.send_keys('Data Scientist')
searchicon=driver.find_element(By.XPATH,'//*[@id="salaries"]/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p')
searchicon.click()

In [141]:
Company_info=[]
Avg_salary=[]
Min_Max=[]

In [142]:
company=driver.find_elements(By.XPATH,'//div[@class="company-info"]')
for i in company[0:10]:
    company=i.text
    Company_info.append(company)
    
Average=driver.find_elements(By.XPATH,'//p[@class="averageCtc"]')
for i in Average[0:10]:
    Average=i.text
    Avg_salary.append(Average)
    
MinMax=driver.find_elements(By.XPATH,'//div[@class="value body-medium"]')
for i in MinMax[0:20]:
    MinMax=i.text
    Min_Max.append(MinMax)

In [150]:
Company_name=[item.split('\n',1)[0] for item in Company_info]
print(Company_name)

['Walmart', 'Ab Inbev', 'Optum', 'ZS', 'Fractal Analytics', 'Tiger Analytics', 'Legato Health Technologies', 'Tredence', 'UnitedHealth', 'Ford Motor']

In [151]:
Salary_records=[item.split('(',1)[-1] for item in Company_info]
print(Salary_records)

['based on 22 salaries)', 'based on 53 salaries)', 'based on 48 salaries)', 'based on 33 salaries)', 'based on 109 salaries)', 'based on 65 salaries)', 'based on 11 salaries)', 'based on 12 salaries)', 'based on 91 salaries)', 'based on 21 salaries)']

In [152]:
Experience_List=[]
Experince=driver.find_elements(By.XPATH,'//div[@class="sbold-list-header"]')
for i in Experince[0:10]:
    Experince=i.text
    Experience_List.append(Experince)
    
Experience_required=[item.split('(',1)[0] for item in Experience_List]
print(Experience_required)

['3-4 yrs experience ', '2-4 yrs experience ', '2-4 yrs experience ', '1-2 yrs experience ', '2-4 yrs experience ', '2-4 yrs experience ', '4 yrs experience ', '3 yrs experience ', '2-4 yrs experience ', '3-4 yrs experience ']

In [156]:
Min_salary=[]
Min_salary = Min_Max[::2]
print(Min_salary)

Max_salary=[]
Max_salary=Min_Max[1::2]
print(Max_salary)

['₹ 25.0L', '₹ 15.0L', '₹ 11.0L', '₹ 11.0L', '₹ 9.0L', '₹ 9.0L', '₹ 11.0L', '₹ 8.8L', '₹ 8.0L', '₹ 10.0L']
['₹ 45.0L', '₹ 25.5L', '₹ 22.6L', '₹ 22.0L', '₹ 23.0L', '₹ 20.0L', '₹ 20.0L', '₹ 17.5L', '₹ 20.5L', '₹ 18.0L']

In [157]:
df=pd.DataFrame({'Company_name':Company_name,'Salary_records':Salary_records,'Avg_salary':Avg_salary,'Min_salary':Min_salary,'Max_salary':Max_salary,'Experience_required':Experience_required})
df

,Company_name,Salary_records,Avg_salary,Min_salary,Max_salary,Experience_required
0,Walmart,based on 22 salaries),₹ 31.7L,₹ 25.0L,₹ 45.0L,3-4 yrs experience
1,Ab Inbev,based on 53 salaries),₹ 19.7L,₹ 15.0L,₹ 25.5L,2-4 yrs experience
2,Optum,based on 48 salaries),₹ 16.5L,₹ 11.0L,₹ 22.6L,2-4 yrs experience
3,ZS,based on 33 salaries),₹ 15.7L,₹ 11.0L,₹ 22.0L,1-2 yrs experience
4,Fractal Analytics,based on 109 salaries),₹ 15.2L,₹ 9.0L,₹ 23.0L,2-4 yrs experience
5,Tiger Analytics,based on 65 salaries),₹ 14.7L,₹ 9.0L,₹ 20.0L,2-4 yrs experience
6,Legato Health Technologies,based on 11 salaries),₹ 14.5L,₹ 11.0L,₹ 20.0L,4 yrs experience
7,Tredence,based on 12 salaries),₹ 14.1L,₹ 8.8L,₹ 17.5L,3 yrs experience
8,UnitedHealth,based on 91 salaries),₹ 13.6L,₹ 8.0L,₹ 20.5L,2-4 yrs experience
9,Ford Motor,based on 21 salaries),₹ 13.5L,₹ 10.0L,₹ 18.0L,3-4 yrs experience

In [158]:
driver.quit()